<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
body
	.wrapper
		.maincontent
			include ../_common/header.jade
			include ../_common/navigation.jade

			.content
				.content-wrapper
					include ../_common/sidebar.jade