footer.footer
    .footer__wrapper
        .container
            header.footer__header
                h2.footer__head
                    a(href="index.html").footer__head_link
                        img(src="img/footer-logo.png").footer__head_img
                section.footer__right
                    ul.footer__social_list
                        li.footer__social_item
                            a(href="facebook.com" target="_blank").footer__social_link.social__link_fb
                        li.footer__social_item
                            a(href="vk.com" target="_blank").footer__social_link.social__link_vk
                        li.footer__social_item
                            a(href="twitter.com" target="_blank").footer__social_link.social__link_tw
                    ul.footer__nav_list
                        li.footer__nav_item
                            a(href="#").footer__nav_link Планшеты
                        li.footer__nav_item
                            a(href="#").footer__nav_link Мобильные телефоны
                        li.footer__nav_item
                            a(href="#").footer__nav_link Мр3 плееры
                        li.footer__nav_item
                            a(href="#").footer__nav_link Персональные компьютеры
                        li.footer__nav_item
                            a(href="#").footer__nav_link Ноутбуки
                        li.footer__nav_item
                            a(href="#").footer__nav_link Аксессуары
                        li.footer__nav_item
                            a(href="#").footer__nav_link Бытовая техника
            section.footer__bottom
                p.footer__botom_copyright All rights reserved. 2015. no copy alowed