header.header
	.container
		.header-top
			ul.social__list
				li.social__item
					a(href="facebook.com" target="_blank").social__link facebook.com
				li.social__item
					a(href="vk.com" target="_blank").social__link vk.com
				li.social__item
					a(href="twitter.com" target="_blank").social__link twitter.com
			.contact-us
				addres.contact-us__addres ул.Маяковсая 6, офис 17
				a(href="tel:+79211231213").contact-us__phone +7 (921) 123-12-13
		.header-bottom
			h1.header-title
				a(href="#").header-title__link COOLTECH
					img(src="", alt="COOLTECH").header-title__logo
			form(action="#" method="get").search-form
				label.search-form__label
					input(type="search" placeholder="Что будем искать?").search-form__input
				button(type="submit").search-form__button
			ul.user-buttons__list
				li.user-buttons__item
					a.user-buttons__link Карта проезда
				li.user-buttons__item
					a.user-buttons__link История заказов
				li.user-buttons__item
					a.user-buttons__link Корзина		