nav.navigation
	.container
		ul.navigation__list
			li.navigation__item
				a(href="#").navigation_link Планшеты
			li.navigation__item
				a(href="#").navigation_link Мобильные телефоны
			li.navigation__item
				a(href="#").navigation_link Mp3 плееры
			li.navigation__item
				a(href="#").navigation_link Персональные компьютеры
			li.navigation__item
				a(href="#").navigation_link Ноутбуки
			li.navigation__item
				a(href="#").navigation_link Аксессуары
			li.navigation__item
				a(href="#").navigation_link Бытовая техника