nav.navigation
	.container
		ul.navigation__list
			li.navigation__item
				a(href="#").navigation__link Планшеты
			li.navigation__item.active
				a(href="#").navigation__link Мобильные телефоны
			li.navigation__item
				a(href="#").navigation__link Mp3 плееры
			li.navigation__item
				a(href="#").navigation__link Персональные компьютеры
			li.navigation__item
				a(href="#").navigation__link Ноутбуки
			li.navigation__item
				a(href="#").navigation__link Аксессуары
			li.navigation__item
				a(href="#").navigation__link Бытовая техника