.sidebar
	ul.page-breadcrumb__list
		li.page-breadcrumb__item
			a(href="#").page-breadcrumb__link Главная &gt;
		li.page-breadcrumb__item
			a(href="#").page-breadcrumb__link Каталог
	h2.header-nav Мобильные телефоны
	ul.user-price-select__list
		li.user-price-select__item
			a.user-price-select__link Флагманы
		li.user-price-select__item
			a.user-price-select__link Бюджетная линейка
	ul.accordeon__list
		li.accordeon__item
			a(href="#").accordeon__trigger Наличие в магазинах
			ul.accordeon-inner
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="radio" name="magazine").accordeon-inner__input
						.accordeon-inner__text Во всех магазинах
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="radio" name="magazine").accordeon-inner__input
						.accordeon-inner__text Во всех магазинах
		li.accordeon__item
			a(href="#").accordeon__trigger Бренды
			ul.accordeon-inner
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="model")
						.accordeon-inner__text Lenovo
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="model")
						.accordeon-inner__text Apple
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="model")
						.accordeon-inner__text Samsung
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="model")
						.accordeon-inner__text Asus
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="model")
						.accordeon-inner__text Motorola
				li.accordeon-inner__item
					a(href="#").accordeon-inner__link_reset Сбросить фильтр
		li.accordeon__item
			a(href="#").accordeon__trigger Цена
			//Добавить jquery ui slider
		li.accordeon__item
			a(href="#").accordeon__trigger Цвет
			ul.accordeon-inner
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
		li.accordeon__item
			a(href="#").accordeon__trigger Операционные системы
			li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="os")
						.accordeon-inner__text Android
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="os")
						.accordeon-inner__text iOS
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="os")
						.accordeon-inner__text Windows Mobile
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="os")
						.accordeon-inner__text Symbian
				li.accordeon-inner__item
					label.accordeon-inner__label
						input(type="checkbox" name="os")
						.accordeon-inner__text Custom
				li.accordeon-inner__item
					a(href="#").accordeon-inner__link_reset Сбросить фильтр