aside.sidebar
	ul.user-price-select__list
		li.user-price-select__item
			a(href="#").user-price-select__link Флагманы
		li.user-price-select__item
			a(href="#").user-price-select__link Бюджетная линейка
	ul.accordeon__list
		li.accordeon__item
			h4.accordeon__trigger Наличие в магазинах
			ul.accordeon-inner
				li.accordeon-inner__item
					input(type="radio" name="magazine" id="magazine-first" hidden).accordeon-inner__radio
					label(for="magazine-first").accordeon-inner__label_radio Во всех магазинах
				li.accordeon-inner__item
					input(type="radio" name="magazine" id="magazine-second" hidden).accordeon-inner__radio
					label(for="magazine-second").accordeon-inner__label_radio В ближайшем ко мне магазине
		li.accordeon__item
			h4.accordeon__trigger Бренды
			ul.accordeon-inner
				li.accordeon-inner__item
					input(type="checkbox" name="model" id="model-one" hidden).accordeon-inner__checkbox
					label(for="model-one").accordeon-inner__label_checkbox Lenovo
				li.accordeon-inner__item
					input(type="checkbox" name="model" id="model-two" hidden).accordeon-inner__checkbox
					label(for="model-two").accordeon-inner__label_checkbox Apple
				li.accordeon-inner__item
					input(type="checkbox" name="model" id="model-three" hidden).accordeon-inner__checkbox
					label(for="model-three").accordeon-inner__label_checkbox Samsung
				li.accordeon-inner__item
					input(type="checkbox" name="model" id="model-four" hidden).accordeon-inner__checkbox
					label(for="model-four").accordeon-inner__label_checkbox Asus
				li.accordeon-inner__item
					input(type="checkbox" name="model" id="model-five" hidden).accordeon-inner__checkbox
					label(for="model-five").accordeon-inner__label_checkbox Motorola
				li.accordeon-inner__item
					a(href="#").accordeon-inner__link_reset Сбросить фильтр
		li.accordeon__item
			h4.accordeon__trigger Цена
			//Добавить jquery ui slider
			.slider
		li.accordeon__item
			h4.accordeon__trigger Цвет
			ul.accordeon-inner
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
				li.accordeon-inner__item_color
					a(href="#").accordeon-inner__link_color
		li.accordeon__item
			h4.accordeon__trigger Операционные системы
			ul.accordeon-inner
				li.accordeon-inner__item
					input(type="checkbox" name="os" id="os-one" hidden).accordeon-inner__checkbox
					label(for="os-one").accordeon-inner__label_checkbox Android
				li.accordeon-inner__item
					input(type="checkbox" name="os" id="os-two" hidden).accordeon-inner__checkbox
					label(for="os-two").accordeon-inner__label_checkbox iOS
				li.accordeon-inner__item
					input(type="checkbox" name="os" id="os-three" hidden).accordeon-inner__checkbox
					label(for="os-three").accordeon-inner__label_checkbox Windows Mobile
				li.accordeon-inner__item
					input(type="checkbox" name="os" id="os-four" hidden).accordeon-inner__checkbox
					label(for="os-four").accordeon-inner__label_checkbox Symbian
				li.accordeon-inner__item
					input(type="checkbox" name="os" id="os-five" hidden).accordeon-inner__checkbox
					label(for="os-five").accordeon-inner__label_checkbox Custom

				li.accordeon-inner__item
					a(href="#").accordeon-inner__link_reset Сбросить фильтр