@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 15px;
font-style: normal;
}.flaticon-chevron10:before {
	content: "\e000";
}
.flaticon-done:before {
	content: "\e001";
}
.flaticon-downarrow25:before {
	content: "\e002";
}
.flaticon-facebook30:before {
	content: "\e003";
}
.flaticon-facebook55:before {
	content: "\e004";
}
.flaticon-fastforward4:before {
	content: "\e005";
}
.flaticon-keyboard50:before {
	content: "\e006";
}
.flaticon-leftarrow23:before {
	content: "\e007";
}
.flaticon-list50:before {
	content: "\e008";
}
.flaticon-mark1:before {
	content: "\e009";
}
.flaticon-ruble:before {
	content: "\e00a";
}
.flaticon-technology2:before {
	content: "\e00b";
}
.flaticon-telephone5:before {
	content: "\e00c";
}
.flaticon-texts:before {
	content: "\e00d";
}
.flaticon-twitter1:before {
	content: "\e00e";
}
@font-face {
	font-family: OpenSans;
	src: url("OpenSans-Regular.ttf");
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url("OpenSans-Semibold.ttf");
}
@font-face {
	font-family: OpenSans-Light;
	src: url("OpenSans-Light.ttf");
}
@font-face {
	font-family: OpenSans-Bold;
	src: url("OpenSans-Bold.ttf");
}
